
html {
	background-color: rgb(255, 45, 22);
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

a {
	color: rgb(255, 255, 0);
}

body {
	position: center;
}

h1 {
	font-size: 3em;
}

h1 div.warningSign {
	font-size: 2em;
}

p.skulls {
	/* nothing here */
}

button {
    background-color: rgb(255, 255, 0);
    border: none;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

